{% assign programs = site.data.data.programs %}
{% if programs %}
<section class="programs-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ programs.title }}
  </h2>

  <div class="programset">

    {% for program in programs.toolset %}
    <div class="item">

      <h3 class="level-title">{{ program.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ program.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//programs-section-->
{% endif %}
